<h1><%= @section.name %></h1>

<% if @section.lessons.any? %>
  <h4>Here are the lessons for this section:</h4>
    <ul>
      <% @section.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.title, section_lesson_path(@section, lesson) %> |
        <%= link_to "Edit this lesson", edit_section_lesson_path(@section, lesson)%>
        <%= link_to "Delete",  section_lesson_path(@section, lesson),
                                    :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
      </li>
      <% end %>
    </ul>
<% else %>
  <h4>There are no lessons in this section yet</h4>
<% end %>

<p> <%= link_to "Edit Section", edit_section_path %> |
<%= link_to "Delete Section", section_path(@section),
                              :data => {:confirm => "Are you sure you want to delete",
                                        :method => "delete"} %></p>
<p> <%= link_to "Return to Sections", sections_path %></p>
